<h1>{{ contactRead.sharedData.contact.firstname + ' ' + contactRead.sharedData.contact.lastname}}</h1>

<div class="row">
  <div class="col-md-1">
    <span>Phone:</span>
  </div>
  <div class="col-md-11">
    <span>{{ contactRead.sharedData.contact.phone | tel }}</span>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <span>Email:</span>
  </div>
  <div class="col-md-11">
    <span>{{ contactRead.sharedData.contact.email }}</span>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <span>Address:</span>
  </div>
  <div class="col-md-11">
    <span>{{ contactRead.sharedData.contact.address }}</span>
  </div>
</div>