<h1>First Name Last Name</h1>

<div class="row">
  <div class="col-md-2">
    <span>Phone:</span>
  </div>
  <div class="col-md-10">
    <span>604 789 2933</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <span>Email:</span>
  </div>
  <div class="col-md-10">
    <span>first@changeheroes.com</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <span>Address:</span>
  </div>
  <div class="col-md-10">
    <span>200 Abbott St. Vancouver, B.C, V3G 2FO</span>
  </div>
</div>